{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Bienvenido a Frikr - El Flickr friki {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
</head>
<body>
    <h1 class="text-center">Bienvenido a Frikr</h1>

    <ul class="nav nav-tabs">
            <li role="presentation"><a href="{% url 'photos_home' %}">Home</a></li>
            <li role="presentation"><a href="{% url 'photo_list' %}">Photos</a></li>
        {% if user.is_authenticated %}
            <li role="presentation"><a href="{% url 'user_photos' %}">My Photos</a></li>
            <li role="presentation"><a href="{% url 'photo_create' %}">Add Photo</a></li>
            <li role="presentation"><a href="{% url 'users_logout' %}">Logout</a></li>
        {% else %}
            <li role="presentation"><a href="{% url 'users_login' %}">Login</a></li>
        {% endif %}
    </ul>

    <div class="content container-fluid">
        <div class="row">
        {% block section %}{% endblock %}
        </div>
    </div>

    <div class="footer navbar-fixed-bottom">
        <span class="text-muted pull-right" style="margin-right: 15px">
            {% block footer %}Frikr Inc &copy; Todos los derechos reservados {% endblock %}
        </span>
    </div>
</body>
</html>