{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block section %}

{% if errors|length > 0 %}
    <div>
        {% for error in errors %}
        <span>{{ error }}</span>
        <hr>
        {% endfor %}
    </div>
    {% endif %}

<form method="post" action="">
    {% csrf_token %}

    <!--<div>
        <input type="text" name="usr" placeholder="nombre de usuario">
    </div>
    <div>
        <input type="password" name="pwd" placeholder="password">
    </div>-->

    <table>
        {{ login_form.as_p }}
    </table>

    <button type="submit">Entrar</button>
</form>
{% endblock %}