{% extends 'base.html' %}

{% block title %} Detalle Foto {% endblock %}

{% block section %}
    {% if photo %}
<div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4">
    <h2 class="text-center">{{ photo.name }}</h2>

    <img src="{{ photo.url }}" alt="{{ photo.name }}" class="img-rounded center-block" height="50%" width="50%">
    <p class="text-info col-md-offset-2" style="margin-top: 30px">
        <strong>Descripción:</strong>
        {{ photo.description}}
    </p>
    <p class="text-info col-md-offset-2" style="margin-top: 15px">
        <strong>Autor:</strong>
        {{ photo.owner.first_name }}
        {{ photo.owner.last_name }}
    </p>
    {% else %}
        <p class="text-info">No photo available</p>
    {% endif %}
</div>
{% endblock %}